.profile__edit-button {
  background-image: url(../../../images/Edit\ Button.svg);
  border: 1px solid #ffffff;
  background-color: black;
  width: 24px;
  height: 24px;
  justify-self: end;
  align-self: center;
  margin-left: 16px;
  transition: opacity 1s linear .1s;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    background-image: url(../../../images/EditButtonSmall.svg);
    padding: 0;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}