.form__submit-button {
  background-image: url(../../../images/SubmitButton.svg);
  background-color: black;
  border: none;
  width: 358px;
  height: 50px;
  margin: 48px auto 37px;
  transition: opacity 1s linear .1s;
  display: block;
  border-radius: 2px;
  overflow: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.form__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .form__submit-button {
    max-width: 238px;
    background-position: center;
    margin: 45px auto 25px;
    font-size: 14px;
    line-height: 1.21;
  }
}