.form__submit-button {
  background-image: url(../../../images/SubmitButton.svg);
  background-color: black;
  border: none;
  width: 358px;
  height: 50px;
  margin-top: 48px;
  transition: opacity 1s linear .1s;
}

.form__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}