.popup__input-error {
  max-width: 358px;
  margin: 5px auto;
  display: block;
  color: #f00;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  display: none;
}