.form__text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  max-width: 358px;
  min-height: 27px;
  margin-top: 54px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 13px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
}

.form__text:last-of-type {
  margin-top: 30px;
}

.form__text:focus {
  outline: none;
  border: 2px solid blue;
  border-radius: 3px;
}