@import url(../vendor/normalize.css);
@import url(../fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/cardTemplate/cardTemplate.css);
@import url(../blocks/card/__del-button/card__del-button.css);
@import url(../blocks/card/__rectangle/card__rectangle.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__text/form__text.css);
@import url(../blocks/form/__text/_type/form__text_type_name.css);
@import url(../blocks/form/__text/_type/form__text_type_profession.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);
@import url(../scripts/index.js);